/* line 4, ../../../../.gem/ruby/1.8/gems/compass-0.10.6.pre.1/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
html, body {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 6, ../../../../.gem/ruby/1.8/gems/compass-0.10.6.pre.1/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
html {
  font-size: 100.01%;
}

/* line 16, ../../../../.gem/ruby/1.8/gems/compass-0.10.6.pre.1/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
div, span, object, iframe, h1, h2, h3, h4, h5, h6, p,
pre, a, abbr, acronym, address, code, del, dfn, em, img,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption, tbody, tfoot, thead, tr {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 18, ../../../../.gem/ruby/1.8/gems/compass-0.10.6.pre.1/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
blockquote, q {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  quotes: "" "";
}
/* line 45, ../../../../.gem/ruby/1.8/gems/compass-0.10.6.pre.1/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
blockquote:before, blockquote:after, q:before, q:after {
  content: "";
}

/* line 20, ../../../../.gem/ruby/1.8/gems/compass-0.10.6.pre.1/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
th, td, caption {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 22, ../../../../.gem/ruby/1.8/gems/compass-0.10.6.pre.1/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
table {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

/* line 24, ../../../../.gem/ruby/1.8/gems/compass-0.10.6.pre.1/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
a img {
  border: none;
}

@charset "UTF-8";
/* line 32, ../design/src/screen.sass */
body {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  line-height: 1.5;
  font-family: Lucida Grande, Helvetica, Arial, sans-serif;
  color: #333333;
  font-size: 75%;
  background: white;
}
/* line 68, ../../../../.gem/ruby/1.8/gems/compass-0.10.6.pre.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body h1, body h2, body h3, body h4, body h5, body h6 {
  font-weight: normal;
  color: #222222;
}
/* line 69, ../../../../.gem/ruby/1.8/gems/compass-0.10.6.pre.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body h1 img, body h2 img, body h3 img, body h4 img, body h5 img, body h6 img {
  margin: 0;
}
/* line 70, ../../../../.gem/ruby/1.8/gems/compass-0.10.6.pre.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body h1 {
  font-size: 3em;
  line-height: 1;
  margin-bottom: 0.50em;
}
/* line 71, ../../../../.gem/ruby/1.8/gems/compass-0.10.6.pre.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body h2 {
  font-size: 2em;
  margin-bottom: 0.75em;
}
/* line 72, ../../../../.gem/ruby/1.8/gems/compass-0.10.6.pre.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body h3 {
  font-size: 1.5em;
  line-height: 1;
  margin-bottom: 1.00em;
}
/* line 73, ../../../../.gem/ruby/1.8/gems/compass-0.10.6.pre.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body h4 {
  font-size: 1.2em;
  line-height: 1.25;
  margin-bottom: 1.25em;
}
/* line 74, ../../../../.gem/ruby/1.8/gems/compass-0.10.6.pre.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body h5 {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 1.50em;
}
/* line 75, ../../../../.gem/ruby/1.8/gems/compass-0.10.6.pre.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body h6 {
  font-size: 1em;
  font-weight: bold;
}
/* line 76, ../../../../.gem/ruby/1.8/gems/compass-0.10.6.pre.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body p {
  margin: 0 0 1.5em;
}
/* line 77, ../../../../.gem/ruby/1.8/gems/compass-0.10.6.pre.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body p img.left {
  display: inline;
  float: left;
  margin: 1.5em 1.5em 1.5em 0;
  padding: 0;
}
/* line 78, ../../../../.gem/ruby/1.8/gems/compass-0.10.6.pre.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body p img.right {
  display: inline;
  float: right;
  margin: 1.5em 0 1.5em 1.5em;
  padding: 0;
}
/* line 80, ../../../../.gem/ruby/1.8/gems/compass-0.10.6.pre.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body a {
  text-decoration: underline;
  color: #000099;
}
/* line 18, ../../../../.gem/ruby/1.8/gems/compass-0.10.6.pre.1/frameworks/compass/stylesheets/compass/utilities/links/_link-colors.scss */
body a:visited {
  color: #000066;
}
/* line 22, ../../../../.gem/ruby/1.8/gems/compass-0.10.6.pre.1/frameworks/compass/stylesheets/compass/utilities/links/_link-colors.scss */
body a:focus {
  color: black;
}
/* line 26, ../../../../.gem/ruby/1.8/gems/compass-0.10.6.pre.1/frameworks/compass/stylesheets/compass/utilities/links/_link-colors.scss */
body a:hover {
  color: black;
}
/* line 30, ../../../../.gem/ruby/1.8/gems/compass-0.10.6.pre.1/frameworks/compass/stylesheets/compass/utilities/links/_link-colors.scss */
body a:active {
  color: #cc0099;
}
/* line 81, ../../../../.gem/ruby/1.8/gems/compass-0.10.6.pre.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body blockquote {
  margin: 1.5em;
  color: #666666;
  font-style: italic;
}
/* line 82, ../../../../.gem/ruby/1.8/gems/compass-0.10.6.pre.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body strong {
  font-weight: bold;
}
/* line 83, ../../../../.gem/ruby/1.8/gems/compass-0.10.6.pre.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body em {
  font-style: italic;
}
/* line 84, ../../../../.gem/ruby/1.8/gems/compass-0.10.6.pre.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body dfn {
  font-style: italic;
  font-weight: bold;
}
/* line 85, ../../../../.gem/ruby/1.8/gems/compass-0.10.6.pre.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body sup, body sub {
  line-height: 0;
}
/* line 86, ../../../../.gem/ruby/1.8/gems/compass-0.10.6.pre.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body abbr, body acronym {
  border-bottom: 1px dotted #666666;
}
/* line 87, ../../../../.gem/ruby/1.8/gems/compass-0.10.6.pre.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body address {
  margin: 0 0 1.5em;
  font-style: italic;
}
/* line 88, ../../../../.gem/ruby/1.8/gems/compass-0.10.6.pre.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body del {
  color: #666666;
}
/* line 89, ../../../../.gem/ruby/1.8/gems/compass-0.10.6.pre.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body pre {
  margin: 1.5em 0;
  white-space: pre;
}
/* line 90, ../../../../.gem/ruby/1.8/gems/compass-0.10.6.pre.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body pre, body code, body tt {
  font: 1em "andale mono", "lucida console", monospace;
  line-height: 1.5;
}
/* line 91, ../../../../.gem/ruby/1.8/gems/compass-0.10.6.pre.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body li ul, body li ol {
  margin: 0;
}
/* line 92, ../../../../.gem/ruby/1.8/gems/compass-0.10.6.pre.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body ul, body ol {
  margin: 0 1.5em 1.5em 0;
  padding-left: 3.333em;
}
/* line 93, ../../../../.gem/ruby/1.8/gems/compass-0.10.6.pre.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body ul {
  list-style-type: disc;
}
/* line 94, ../../../../.gem/ruby/1.8/gems/compass-0.10.6.pre.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body ol {
  list-style-type: decimal;
}
/* line 95, ../../../../.gem/ruby/1.8/gems/compass-0.10.6.pre.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body dl {
  margin: 0 0 1.5em 0;
}
/* line 96, ../../../../.gem/ruby/1.8/gems/compass-0.10.6.pre.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body dl dt {
  font-weight: bold;
}
/* line 97, ../../../../.gem/ruby/1.8/gems/compass-0.10.6.pre.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body dd {
  margin-left: 1.5em;
}
/* line 98, ../../../../.gem/ruby/1.8/gems/compass-0.10.6.pre.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body table {
  margin-bottom: 1.4em;
  width: 100%;
}
/* line 99, ../../../../.gem/ruby/1.8/gems/compass-0.10.6.pre.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body th {
  font-weight: bold;
}
/* line 100, ../../../../.gem/ruby/1.8/gems/compass-0.10.6.pre.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body thead th {
  background: #c3d9ff;
}
/* line 101, ../../../../.gem/ruby/1.8/gems/compass-0.10.6.pre.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body th, body td, body caption {
  padding: 4px 10px 4px 5px;
}
/* line 102, ../../../../.gem/ruby/1.8/gems/compass-0.10.6.pre.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body tr.even td {
  background: #e5ecf9;
}
/* line 103, ../../../../.gem/ruby/1.8/gems/compass-0.10.6.pre.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body tfoot {
  font-style: italic;
}
/* line 104, ../../../../.gem/ruby/1.8/gems/compass-0.10.6.pre.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body caption {
  background: #eeeeee;
}
/* line 105, ../../../../.gem/ruby/1.8/gems/compass-0.10.6.pre.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body .quiet {
  color: #666666;
}
/* line 106, ../../../../.gem/ruby/1.8/gems/compass-0.10.6.pre.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body .loud {
  color: #111111;
}

/* line 37, ../design/src/screen.sass */
header {
  display: block;
  background: white;
  height: 120px;
  margin: 0;
}
/* line 45, ../design/src/screen.sass */
header h1 {
  font-size: 100px;
  font-weight: bold;
  font-style: italic;
}

/* line 50, ../design/src/screen.sass */
#headercontent, #footercontent {
  margin: 0 auto;
  width: 660px;
  padding: 30px;
}

/* line 55, ../design/src/screen.sass */
#logo {
  margin-top: 20px;
}

/* line 58, ../design/src/screen.sass */
footer {
  display: block;
  margin-top: 0px;
}
/* line 63, ../design/src/screen.sass */
footer #footer {
  color: #000033;
}

/* line 66, ../design/src/screen.sass */
#main {
  background: white;
  margin: 0;
  padding-bottom: 150px;
}

/* line 71, ../design/src/screen.sass */
#page {
  margin: 0 auto;
  width: 660px;
  overflow: hidden;
}

/* line 76, ../design/src/screen.sass */
#content {
  margin-top: 20px;
  overflow: hidden;
}

/* line 80, ../design/src/screen.sass */
nav {
  border-bottom: 1px solid #aaaaaa;
  border-top: 1px solid #eeeeee;
  padding: 5px 0;
  margin: 10px 0 30px 0;
}

/* line 86, ../design/src/screen.sass */
#navcontent {
  display: block;
  font-size: 12pt;
  overflow: auto;
  margin: 0;
  padding: 0;
}
/* line 92, ../design/src/screen.sass */
#navcontent li {
  float: left;
  list-style: none;
  text-transform: uppercase;
  margin-left: 10px;
  margin-right: 10px;
}
/* line 98, ../design/src/screen.sass */
#navcontent li ul {
  font-size: 12pt;
  margin: 0;
  padding: 0;
  border: 1px solid #aaaaaa;
  border-top: 0;
  position: absolute;
  z-index: 120;
  background: white;
  clear: both;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #ffffff), color-stop(100%, #cccccc));
  background-image: -moz-linear-gradient(top, #ffffff 0%, #cccccc 100%);
  background-image: linear-gradient(top, #ffffff 0%, #cccccc 100%);
  -moz-box-shadow: 1px 3px 3px rgba(0, 0, 0, 0.2) 0;
  -webkit-box-shadow: 1px 3px 3px rgba(0, 0, 0, 0.2) 0;
  -o-box-shadow: 1px 3px 3px rgba(0, 0, 0, 0.2) 0;
  box-shadow: 1px 3px 3px rgba(0, 0, 0, 0.2) 0;
  margin-left: -2px;
  margin-top: 5px;
  visibility: hidden;
}
/* line 113, ../design/src/screen.sass */
#navcontent li ul li {
  margin: 0;
  padding: 7px 15px;
  float: none;
  display: block;
  border-bottom: 1px solid #aaaaaa;
}
/* line 119, ../design/src/screen.sass */
#navcontent li ul li:hover {
  background: white;
  color: black;
}

/* line 127, ../design/src/screen.sass */
aside {
  float: right;
  margin: 0;
  padding: 10px;
  padding-right: 0;
  padding-top: 0;
  width: 230px;
}

/* line 135, ../design/src/screen.sass */
.bigcolumn {
  width: 400px;
  float: left;
  margin: 0;
  padding: 0;
  border-right: 1px solid #eeeeee;
}

/* line 142, ../design/src/screen.sass */
.rows {
  padding: 0px 10px;
  margin-bottom: 30px;
  padding-top: 0;
  overflow: auto;
}
/* line 147, ../design/src/screen.sass */
.rows h1 {
  font-size: 19pt;
}
/* line 149, ../design/src/screen.sass */
.rows .row {
  margin: 0;
  padding: 0;
  margin-right: 20px;
  float: left;
  width: 145px;
}
/* line 155, ../design/src/screen.sass */
.rows .row.last, .rows .bigrow.last {
  margin: 0;
}
/* line 157, ../design/src/screen.sass */
.rows .bigrow {
  float: left;
  margin: 0;
  padding: 0;
  margin-right: 20px;
  width: 310px;
}

/* line 166, ../design/src/screen.sass */
.portlet {
  margin: 5px 0 20px 0;
  padding: 0px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #ffffff), color-stop(50%, #eeeeee), color-stop(100%, #eeeeee));
  background-image: -moz-linear-gradient(top, #ffffff 0%, #eeeeee 50%, #eeeeee 100%);
  background-image: linear-gradient(top, #ffffff 0%, #eeeeee 50%, #eeeeee 100%);
  -moz-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2) 0;
  -webkit-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2) 0;
  -o-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2) 0;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2) 0;
  border: 1px solid #cccccc;
  overflow: hidden;
}
/* line 174, ../design/src/screen.sass */
.portlet h2 {
  margin: 0;
  padding: 0 8px;
  font-size: 13pt;
}
/* line 178, ../design/src/screen.sass */
.portlet h3 {
  margin: 7px 0;
}
/* line 180, ../design/src/screen.sass */
.portlet .content {
  width: 218px;
  border-top: 1px solid #cccccc;
  padding: 10px;
  float: left;
  display: block;
}

/* line 187, ../design/src/screen.sass */
h1#logofont {
  font-size: 20px;
  font-weight: bold;
  font-style: italic;
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  color: #eeeeee;
}

/* line 198, ../design/src/screen.sass */
#loginform {
  margin: 150px auto;
  border: 1px solid #888888;
  width: 300px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #ffffff), color-stop(100%, #f0f0f0));
  background-image: -moz-linear-gradient(top, #ffffff 0%, #f0f0f0 100%);
  background-image: linear-gradient(top, #ffffff 0%, #f0f0f0 100%);
  padding: 20px;
}
/* line 205, ../design/src/screen.sass */
#loginform .field {
  padding-bottom: 10px;
}
/* line 207, ../design/src/screen.sass */
#loginform label {
  display: block;
  font-weight: bold;
  font-size: 16px;
}
/* line 211, ../design/src/screen.sass */
#loginform input {
  font-size: 20px;
}
/* line 213, ../design/src/screen.sass */
#loginform input[type=submit] {
  border: 0;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #00aaff), color-stop(100%, #0090f0));
  background-image: -moz-linear-gradient(top, #00aaff 0%, #0090f0 100%);
  background-image: linear-gradient(top, #00aaff 0%, #0090f0 100%);
  text-transform: uppercase;
  padding: 4px 20px;
}

/* line 223, ../design/src/screen.sass */
#error {
  position: absolute;
  z-index: 99;
  width: 100%;
  height: 40px;
  font-size: 14pt;
  top: -68px;
  background: #ffaa00;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #ffaa00), color-stop(100%, #f09000));
  background-image: -moz-linear-gradient(top, #ffaa00 0%, #f09000 100%);
  background-image: linear-gradient(top, #ffaa00 0%, #f09000 100%);
  -moz-box-shadow: #888888 0 2px 3px 0;
  -webkit-box-shadow: #888888 0 2px 3px 0;
  -o-box-shadow: #888888 0 2px 3px 0;
  box-shadow: #888888 0 2px 3px 0;
  border-bottom: 1px solid rgba(255, 0, 0, 0.5);
  padding: 3px 10px;
  padding-top: 10px;
  left: 0;
}
/* line 237, ../design/src/screen.sass */
#error .closebutton {
  display: block;
  float: right;
  margin-right: 10px;
}
/* line 241, ../design/src/screen.sass */
#error #error-message {
  float: left;
  font-weight: bold;
}

/* line 246, ../design/src/screen.sass */
#page h1 {
  font-size: 70px;
  margin: 0;
  padding: 0;
  font-style: italic;
  margin-left: -12px;
}
/* line 253, ../design/src/screen.sass */
#page #subline {
  font-size: 12px;
  margin-bottom: 10px;
}
